<h1>Todos</h1>

<% if @todos.empty? %>
<p>No todos found.</p>
<% else %>
<ul>
<% @todos.each do |todo| %>
<li>
  <a href="/priority/<%= todo.priority %>"><%= todo.priority %></a>
  <%= todo.content %>
  <% todo.tags.each do |tag| %>
  <a href="/tagged/<%= tag %>">#<%= tag %></a>
  <% end %>
</li>
<% end %>
</ul>
<% end %>  
