<!DOCTYPE html> 
<html manifest="/cache.manifest">
	<head> 
	<title><%= h(@page_title) %></title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="/jquery.mobile-1.0b2.min.css" />
	<script type="text/javascript" src="/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/jquery.mobile-1.0b2.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
</head> 

<body> 
  <div data-role="page" id="main" data-add-back-btn="true">
    <div data-role="header">
      <h1><%= h(@page_title) %></h1>
      <a href="/add" data-icon="add" class="ui-btn-right">New</a>
    </div>

    <div data-role="content">
      <%= yield %>
    </div>
    
    <div data-role="footer" class="ui-bar">
      <div data-role="controlgroup" data-type="horizontal">
      Priority
      <a href="/" title="Active"><span>Active</span></a>
		  <a href="/all" title="All"><span>All</span></a>
      <% all_priorities.each do |priority| %>
        <a href='/priority/<%= priority %>'><span>Priority <%= priority %></span></a>
      <% end %>
      </div>
    </div>
  </div>
</body>
</html
